<div class="jumbotron">
 <h1 class="title">AnDjob</h1>
 <p class="slogan">Art & Design Jobs
 <br>
 一份好工作給藝術或設計工作者的你
 <br>

 </p>
 <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">瀏覽職缺</a></p>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">藝術</h2>
        <p class="lead">
          <br />藝術創作
          <br />圖文插畫
          <br />攝影
          <br />文學
          <br />音樂
          <br />舞蹈
          <br />戲劇/電影/舞台/劇場
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'http://ww1.sinaimg.cn/large/006tNbRwgy1fevsiy45jcj31kw11ynl8.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">設計</h2>
        <p class="lead"><p class="lead">
          <br />工業
          <br />視覺
          <br />時尚
          <br />數位媒體
          <br />建築/室內
          <br />都市/景觀
        </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'http://ww4.sinaimg.cn/large/006tNbRwgy1fevsj0qar9j31kw16ohdt.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
