<div class="jumbotron">
 <h1 class="title">A&D Job</h1>
 <p class="slogan">Art & Design Jobs
 <br>
 給藝術及設計工作者的專屬工作網
 <br>

 </p>
 <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">瀏覽職缺</a></p>
</div>
