<table class="table table-boldered custab table-hover">
  <thead>
    <tr>
        <td><%= @job.title %></td>
    </tr>
  </thead>
    <tr>
        <td><%= simple_format(@job.description) %></td>
    </tr>
</table>
