<footer class="text-center">
  <div class="footer-below">
    <p class="text-center">Copyright ©2017 A&D JOB
        <br>Design by
        <a href="http://rswong-blog.logdown.com/posts/1724806/" target=_new>rs7wong</a>
    </p>
  </div>
</footer>
